@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@600&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family:'Permanent Marker',cursive;
}
body{
    background-color:#fff;
}

